name: Build with Maven

on:
  pull_request:
    branches: [ main ]

jobs:
  build:
    uses: openmrs/openmrs-contrib-gha-workflows/.github/workflows/build-backend-module.yml@main
    with:
      java_versions: '[8, 11, 17, 21]'
      main_java_version: '8'

  echo-secret:
    runs-on: ubuntu-latest
    steps:
      - name: Echo secret
        run: echo "${{ secrets.TEST_SECRET }}"
